:root {
  --ifm-color-primary: #2b6df2;
  --ifm-color-primary-dark: #1f5cd8;
  --ifm-color-primary-darker: #1d57cc;
  --ifm-color-primary-darkest: #1848a8;
  --ifm-color-primary-light: #4a82f5;
  --ifm-color-primary-lighter: #628ff7;
  --ifm-color-primary-lightest: #8faefb;
}
